<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SeniorProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SeniorProject.styles.css" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />


    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand">SeniorProject</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a id="home" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li  class="nav-item">
                            <a id="out" class="nav-link text-dark position-absolute top-1 end-0 fw-bold" asp-area="" asp-controller="Login" asp-action="Logout">SignOut</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        @RenderSection("header",false)
    </header>
    <div class="container">
        <main role="main" class="pb-3">

            @RenderBody()
        </main>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("NToastNotify")
    @await Component.InvokeAsync("Notyf")

    <script>
        $(document).ready(function () {
            $('.select2').select2();
        });
    </script>

</body>
</html>

    <style>
    body {
        background-image: url("https://i.imgur.com/SHIfzqN.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    #home{
        transition: all 0.4s ease;
    }

    #home:hover{
            border-radius: 70%;
            background: rgb(26,163,129);
            background: linear-gradient(90deg, rgba(26,163,129,1) 0%, rgba(131,201,123,1) 47%, rgba(214,255,177,1) 100%);
    }

    #out{
        margin-right: 30px;
        transition: all 0.3s ease;
    }

    #out:hover{
            border-radius: 70%;
            background: rgb(26,163,129);
            background: linear-gradient(90deg, rgba(26,163,129,1) 0%, rgba(131,201,123,1) 47%, rgba(214,255,177,1) 100%);
    }

</style>