

<h1 class="display-1">Admin Home</h1>
<br />

<div class="card" style="width: 50rem;">  
    <div class="card-body">
        <h5 class="card-title">Assign courses</h5>
        <p class="card-text">In this page the adminstrator will be able to assign courses to specific instructors.</p>
        <a href="#" class="btn btn-primary">Go to page</a>
    </div>
</div>
<br />

<div class="card" style="width: 50rem;">
    <div class="card-body">
        <h5 class="card-title">View Courses</h5>
        <p class="card-text">View all the available courses at the faculty with the ability to add or remove some.</p>
        <a asp-action="AdminCourseList" class="btn btn-primary">Go to page</a>
    </div>
</div>
<br />

    <div class="card" style="width: 50rem;">
    <div class="card-body">
        <h5 class="card-title">View Faculty members</h5>
        <p class="card-text">View all the faculty members currently available including, Instructors, Coordinators and Adminstrators.</p>
        <a href="AdminList" class="btn btn-primary">Go to page</a>
    </div>
   </div>

