@model SeniorProject.ViewModels.FacultyMembersEditViewModel

<h3>Edit members</h3>
<br />

<form asp-controller="Login" asp-action="EditPost" method="post">
    <!-- the login controller had the function for Edit -->
    <input hidden asp-for="Id" />
    <div class="form-row">
        <div class="form-group col-md-4">
            <label asp-for="AcademicID"></label>
            <input asp-for="AcademicID" class="form-control">
            <span asp-validation-for="AcademicID" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Role"></label>
            <input asp-for="Role" class="form-control">
            <span asp-validation-for="Role" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

    </div> <div class="form-row">
        <div id="ee" class="form-group col-md-4">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <br />
    <button type="submit" class="btn btn-outline-warning col-md-4">Edit</button>
</form>

<style>
    #ee {
        display: none;
    }
</style>