@model SeniorProject.ViewModels.CourseEditViewModel

@{
    ViewData["Title"] = "EditCourse";
}

<h1>EditCourse</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCoursePost" asp-controller="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Course_Id" />
            <div class="form-group">
                <label asp-for="Course_Title" class="control-label"></label>
                <input asp-for="Course_Title" class="form-control" />
                <span asp-validation-for="Course_Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course_Code" class="control-label"></label>
                <input asp-for="Course_Code" class="form-control" />
                <span asp-validation-for="Course_Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
