@model SeniorProject.Models.FacultyMembers


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log in</title>

    <!-- fontawesome style -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">

    <!-- Theme style -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">

</head>
<img id="logo1" class="position-absolute top-0 start-50 translate-middle" src="https://i.imgur.com/uM5PsQc.png" />
<br />
<br />

<body class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card">
            <img width="500px" style="margin-left: 50px" src="https://i.imgur.com/JNgVMaS.jpg" />

            <div class="card-body login-card-body">

                <p class="login-box-msg">Sign in to start your session</p>

                <form asp-controller="Login" asp-action="check" method="post">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Academic ID" asp-for="AcademicID">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa-sharp fa-solid fa-user"></span>
                            </div>
                        </div>
                    </div>


                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Password" asp-for="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn ">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>


            </div>

            <style>
                        #logo1 {
                           margin-top: 150px;
                           width: 200px;
                }


                .buttons{
                    display: flex;
                    justify-content: center;
                }

                .btn {
                    min-width: 150px;
                    height: 50px;
                    color: #fff;
                    padding: 5px 10px;
                    font-weight: bold;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    position: relative;
                    display: inline-block;
                    outline: none;
                    border-radius: 25px;
                    z-index: 0;
                    background: #179c7f;
                    overflow: hidden;
                    border: 2px solid green;
                    color: #fff;
                  }

                  .btn:hover {
                    color: black;
                  }
                  .btn:hover:after {
                    width: 100%;
                  }
                  .btn:after {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    transition: all 0.3s ease;
                    left: 0;
                    top: 0;
                    width: 0;
                    height: 100%;
                    background: #c9ff91;
                  }
            </style>


            @if (TempData["Message"] != null)
            {
                <script type="text/javascript">
                    window.onload = function () {
                        alert('@TempData["Message"]');
                    };
                </script>
            }

        </div>
    </div>

</body>
</html>
