@model SeniorProject.ViewModels.TeachersCourseListViewModel

@{
    ViewData["Title"] = "Home Page";
    
    //to show faculty member name
    var member = ViewData["thisdata"];
}

<div class="text-center">
    <h1 class="display-4">Welcome @member </h1> 
</div>
<hr />

    <h3>Your Courses</h3>
    
    <br />
@{
    try
    {
        
        foreach (var item in Model.teachersCourses)
        {
           
    <div class="card text-white bg-secondary mb-4 mx-2" style="min-width: 18rem; display:inline-table;">
                            <div class="card-header">@Html.DisplayFor(m => item.course_Ref.course_Code)</div>
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayFor(m => item.course_Ref.course_Title)</h5>
                                <p> &nbsp;</p>
                                <div style="text-align:right;">

                        
                            <a asp-controller="Course" asp-action="Index" class="btn btn-primary">View Course</a>
                            <br />
        
      
                            </div>
    </div>
    </div>
        }
        
    }
    catch (Exception)
    {
    <h1>error</h1>

    }
            }

        
    
    
