
<h1 class="card-title">Course name</h1>
<hr />
<hr />
<form class="row g-3">
    <div class="col-md-12">
        <label for="inputEmail4" class="form-label">CLO</label>
        <input type="text" class="form-control" id="inputEmail4" placeholder="Enter CLO text here..">
    </div>
    <div class="col-md-3">
        <label for="inputState" class="form-label">LOD (Learning outcome domain)</label>
        <select id="inputState" class="form-select">
            <option selected>Choose...</option>
            <option>...</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="inputState" class="form-label">SO (Student Outcome)</label>
        <div class="col-md-11">
        <select id="inputState" class="form-select">
            <option selected>Choose...</option>
            <option>...</option>
        </select>
        </div>
    </div>
    <div class="col-6">
    <label for="formassesing">Assesing So</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Yes
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
                No
            </label>
        </div>
    </div>
    <hr />


    <div class="col-md-3">
        <label for="AssessmentTools">Assessment Tools (Choose in Weeks)</label>
        <div name="AssessmentTools" class="form-check" style="position:relative;top:35px;">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Quiz
            </label>
            @*<div class="col-md-7">
            <input type="text" class="form-control" id="inputQuizWeek">
            </div>*@
        </div>
        <div name="AssessmentTools" class="form-check" style="position:relative;top:54px;">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Exam
            </label>
            
            @*div class="col-md-7">
                <input type="text" class="form-control" id="inputExamWeek">
            </div>*@
        </div>
        <div name="AssessmentTools" class="form-check" style="position:relative;top:71px;">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Comprehensive Final Exam
            </label>
            @*<div class="col-md-7">
                <input type="text" class="form-control" id="inputFinalExamWeek">
            </div>*@
        </div>
        <div name="AssessmentTools" class="form-check" style="position:relative;top:87px;">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Individual Project
            </label>
            @*<div class="col-md-7">
                <input type="text" class="form-control" id="inputIndividualProjectWeek">
            </div>*@
        </div>
        <div name="AssessmentTools" class="form-check" style="position:relative;top:107px;">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Group Project
            </label>
            @*<div class="col-md-7">
                <input type="text" class="form-control" id="inputGroupProjectWeek">
            </div>*@
        </div>
        <div name="AssessmentTools" class="form-check" style="position:relative;top:127px;">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Homework Assignments
            </label>
            @*<div class="col-md-7">
                <input type="text" class="form-control" id="inputAssignmentWeek">
            </div>*@
        </div>
        <div name="AssessmentTools" class="form-check" style="position:relative;top:147px;">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Graded Lab Work
            </label>
            @*<div class="col-md-7">
                <input type="text" class="form-control" id="inputLabWorkWeek">
            </div>*@
        </div>
        <div name="AssessmentTools" class="form-check" style="position:relative;top:167px;">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Lab Exam
            </label>
            @*<div class="col-md-7">
                <input type="text" class="form-control" id="inputLabExamWeek">
            </div>*@
        </div>
        <div name="AssessmentTools" class="form-check" style="position:relative;top:187px;">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Student Work Portfolio
            </label>
            @*<div class="col-md-7">
                <input type="text" class="form-control" id="inputPortfolioWeek">
            </div>*@
        </div>
        <div name="AssessmentTools" class="form-check" style="position:relative;top:207px;">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Formal Presentation
            </label>
            @*<div class="col-md-7">
                <input type="text" class="form-control" id="inputPresentationWeek">
            </div>*@
        </div>
        <div name="AssessmentTools" class="form-check" style="position:relative;top: 227px;">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Essay Writing
            </label>
            @*<div class="col-md-7">
                <input type="text" class="form-control" id="inputEssayWeek">
            </div>*@
        </div>
    </div>

    <div class="col-md-3">
        <div name="AssessmentToolsWeeks" class="form-check" style="position:relative;top:10px;right:24px">
            <p>&nbsp;</p>
            <input type="text" class="form-control" id="inputEssayWeek">
        </div>
        <div name="AssessmentToolsWeeks" class="form-check" style="position:relative;top:15px;right:24px">
            <input type="text" class="form-control" id="inputEssayWeek">
        </div>
        <div name="AssessmentToolsWeeks" class="form-check" style="position:relative;top:20px;right:24px">
            <input type="text" class="form-control" id="inputEssayWeek">
        </div>
        <div name="AssessmentToolsWeeks" class="form-check" style="position:relative;top:25px;right:24px">
            <input type="text" class="form-control" id="inputEssayWeek">
        </div>
        <div name="AssessmentToolsWeeks" class="form-check" style="position:relative;top:30px;right:24px">
            <input type="text" class="form-control" id="inputEssayWeek">
        </div>
        <div name="AssessmentToolsWeeks" class="form-check" style="position:relative;top:35px;right:24px">
            <input type="text" class="form-control" id="inputEssayWeek">
        </div>
        <div name="AssessmentToolsWeeks" class="form-check" style="position:relative;top:40px;right:24px">
            <input type="text" class="form-control" id="inputEssayWeek">
        </div>
        <div name="AssessmentToolsWeeks" class="form-check" style="position:relative;top:45px;right:24px">
            <input type="text" class="form-control" id="inputEssayWeek">
        </div>
        <div name="AssessmentToolsWeeks" class="form-check" style="position:relative;top:50px;right:24px">
            <input type="text" class="form-control" id="inputEssayWeek">
        </div>
        <div name="AssessmentToolsWeeks" class="form-check" style="position:relative;top:55px;right:24px">
            <input type="text" class="form-control" id="inputEssayWeek">
        </div>
        <div name="AssessmentToolsWeeks" class="form-check" style="position:relative;top:60px;right:24px">
            <input type="text" class="form-control" id="inputEssayWeek">
        </div>
    </div>

    <div class="col-md-3">
        <label for="OutClassActivites">Out-Class Activites</label>
        <div name="OutClassActivites" class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
                Exercises
            </label>
        </div>
        <div name="OutClassActivites" class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                LectureSummary
            </label>
        </div>
        <div name="OutClassActivites" class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                SelfreadingResearch
            </label>
        </div>
        <div name="OutClassActivites" class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                DesignProblems
            </label>
        </div>
        <div name="OutClassActivites" class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                CaseStudy
            </label>
        </div>
        <div name="OutClassActivites" class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                TechnicalWriting
            </label>
        </div>
        <div name="OutClassActivites" class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Teamwork
            </label>
        </div>
        <div name="OutClassActivites" class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                GroupDiscussion
            </label>
        </div>
    </div>

    <div class="col-md-3">
        <label for="InClassActivites">In-Class Activites</label>
        <div name="InClassActivites" class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
                Lectures
            </label>
        </div>
        <div name="InClassActivites" class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                TutorialSessions
            </label>
        </div>
        <div name="InClassActivites" class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                LabSessions
            </label>
        </div>
        <div name="InClassActivites" class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                ClassDiscussion
            </label>
        </div>
        <div name="InClassActivites" class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                ClassExercises
            </label>
        </div>
        <div name="InClassActivites" class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                MiscActiveLearning
            </label>
        </div>
    </div>
    <!--
    <label for="AssesTools">Assesment Tools (Choose in weeks):</label>
    <div name="AssesTools" class="col-md-2">
        <label for="inputCity" class="form-label">Quiz</label>
        <input type="text" class="form-control" id="inputCity">
    </div><div name="AssesTools" class="col-md-2">
        <label for="inputCity" class="form-label">Exam</label>
        <input type="text" class="form-control" id="inputCity">
    </div><div name="AssesTools" class="col-md-2">
        <label for="inputCity" class="form-label">ComprehensiveFinalExam</label>
        <input type="text" class="form-control" id="inputCity">
    </div><div name="AssesTools" class="col-md-2">
        <label for="inputCity" class="form-label">ProjectIndividual</label>
        <input type="text" class="form-control" id="inputCity">
    </div><div name="AssesTools" class="col-md-2">
        <label for="inputCity" class="form-label">GroupProject</label>
        <input type="text" class="form-control" id="inputCity">
    </div><div name="AssesTools" class="col-md-2">
        <label for="inputCity" class="form-label">HomeworkAssignments</label>
        <input type="text" class="form-control" id="inputCity">
    </div><div name="AssesTools" class="col-md-2">
        <label for="inputCity" class="form-label">GradedLabWork</label>
        <input type="text" class="form-control" id="inputCity">
    </div><div name="AssesTools" class="col-md-2">
        <label for="inputCity" class="form-label">LabExam</label>
        <input type="text" class="form-control" id="inputCity">
    </div><div name="AssesTools" class="col-md-2">
        <label for="inputCity" class="form-label">StudentWorkPortfolio</label>
        <input type="text" class="form-control" id="inputCity">
    </div><div name="AssesTools" class="col-md-2">
        <label for="inputCity" class="form-label">FormalPresentation</label>
        <input type="text" class="form-control" id="inputCity">
    </div><div name="AssesTools" class="col-md-2">
        <label for="inputCity" class="form-label">EssayWriting</label>
        <input type="text" class="form-control" id="inputCity">
    </div>-->
    <div class="col-12" style="text-align:right;">
        <p>&nbsp;</p>
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>
